{% extends 'playground/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h2>Hallo, wir sind Karl und Klara</h2>
            Der eine klinkte die Tür auf und trat ein. Ihm folgte ein junger Bursche, der linkisch die Mütze abnahm. Seine Kleidung war derb und erinnerte an die der Seeleute; offenbar fühlte er sich in der geräumigen Halle wie ein Fisch auf dem Trockenen. Er wußte nicht, was er mit seiner Mütze anfangen sollte, und wollte sie gerade in die Hosentasche stopfen, als der andere sie ihm abnahm. Er tat es ganz ruhig und natürlich, und der linkische junge Bursche wußte das zu schätzen. Der hat Verständnis, dachte er, der wird mich schon richtig durchlotsen.
        Er folgte dem andern dicht auf den Fersen, mit schwingenden Schultern und unbewußt so breitbeinig, als höbe und senkte sich der ebene Boden wie Meereswogen. 
        Die großen Räume schienen zu eng für seinen wiegenden Gang, und heimlich hatte er furchtbare Angst, 
        daß seine breiten Schultern an den Türrahmen stoßen oder die Nippes von dem niedrigen Kamin fegen würden. 
        Er schwankte zwischen den verschiedenen Dingen hin und her und vervielfältigte dadurch die Gefahren, 
        die in Wirklichkeit nur in seiner Einbildung bestanden. 
        Zwischen einem Flügel und einem hoch mit Büchern beladenen Tisch in der Mitte des Zimmers wäre Platz genug für ein halbes Dutzend Männer nebeneinander gewesen, 
        aber er wagte den Weg nur mit Zittern und Zagen. Seine schweren Arme hingen schlaff an den Seiten herab. Er wußte nicht, was er mit diesen Armen und Händen anfangen sollte, und als seine erregte Phantasie ihm vorspiegelte, daß er die Bücher auf dem Tische umwerfen könnte, machte er wie ein scheues Pferd einen Satz nach der anderen Seite und entging mit Mühe und Not einem Zusammenstoß mit dem Klaviersessel. Er beobachtete den leichten Schritt des andern vor ihm, und zum erstenmal wurde ihm klar, daß sein Gang sich von dem anderer Leute unterschied. 
        Einen Augenblick durchfuhr ihn schmerzliche Scham über seine eigene Schwerfälligkeit. 
        Der Schweiß brach in kleinen Tröpfchen auf seiner Stirn aus, er blieb stehen und wischte sich mit dem Taschentuch über das sonnenverbrannte Gesicht.
    </div>
    </body>
{% endblock %}
