{% extends 'playground/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h1>
            Delete {{ object }}
        </h1>
        <form method="post">
            {% csrf_token %}
            <p>
                Are you sure you want to delete "{{ object }}"?
            </p>
            <input type="submit" name="delete" value="Delete">
            <a href="{% url 'greetings' %}">Cancel</a>
        </form>
    </div>
</body>
  
{% endblock %}