{% extends 'playground/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<body>
    <h1>Привет. Это главная страница!!!</h1>
    <div class="container d-flex flex-row flex-wrap justify-content-center">
        {% if like_films %}
            {% for el in like_films %}
            <div class="alert al mt-2">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{ el.name }}</h5>
                      <p class="card-text">Description of film.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Cost - {{ el.cost }}</li>
                      <li class="list-group-item">Rent - {{ el.rent }}</li>
                    </ul>
                    <div class="card-body">
                      <a href="{% url 'update' el.id %}" class="card-link btn btn-primary">Редактировать</a>
                      <a href="{% url 'delete' el.id %}" class="card-link btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h4> 
                Empty
            </h4>
        {% endif %}
    </div>
</body>
{% endblock %}
