{% extends 'playground/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h1>Привет. Это главная страница!!! Сделана без html, тут только обычный текст</h1>
        <h3> Name </h3>
        {% if like_films %}
            {% for el in like_films %}
            <div class="alert alert-success mt-2">
                <h4> 
                    {{ el.name }}
                    {{ el.cost }}
                </h4>
            </div>
            {% endfor %}
        {% else %}
            <h4> 
                Empty
            </h4>
        {% endif %}
        
        {% if like_films %}
            {% for el in like_films %}
            <div class="alert al mt-2">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{ el.name }}</h5>
                      <p class="card-text">Description of film.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Cost - {{ el.cost }}</li>
                      <li class="list-group-item">Rent - {{ el.rent }}</li>
                    </ul>
                    <div class="card-body">
                      <a href="{% url 'update' el.id %}" class="card-link btn btn-primary">Редактировать</a>
                      <a href="{% url 'delete' el.id %}" class="card-link btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h4> 
                Empty
            </h4>
        {% endif %}

        


          <!-- <table>
            <tr>
              <th>Заголовок колонки 1</th>
              <th>Заголовок колонки 2</th>
            </tr>
            <tr>
              <td>Значение ячейки 1.1</td>
              <td>Значение ячейки 1.2</td>
            </tr>
            <tr>
              <td>Значение ячейки 2.1</td>
              <td>Значение ячейки 2.2</td>
            </tr>
          </table> -->

            <h3> Cost </h3>
        {% if like_films %}
            {% for el in like_films %}
            <div class="alert alert-success mt-2">
                <h4> 
                    {{ el.cost }}
                </h4>
            </div>
            {% endfor %}
        {% else %}
            <h4> 
                Empty
            </h4>
        {% endif %}
    </div>
</body>
{% endblock %}
